In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

df = pd.read_csv("C:\MyPython\csv\Diabetes.csv", header = 0)
select_cols = ['Pregnancies', 'Insulin', 'BMI', 'Age', 'Glucose', 'BloodPressure', 'DiabetesPedigreeFunction']

In [4]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [5]:
# 로지스틱 회귀는 선형 회귀 분석과는 다르게 종속 변수가 범주형 데이터를 대상으로 하며
# 입력 데이터가 주어졌을 때 해당 데이터의 결과가
# 특정 분류로 나뉘기 때문에 일종의 분류 (classification) 기법으로도 볼 수 있다.
# 흔히 로지스틱 회귀는 종속변수가 이항형 문제(즉, 유효한 범주의 개수가 두개인 경우)를 지칭할 때 사용된다.

x = df[select_cols].values
y = df['Outcome'].values
type(x), type(y)   # (numpy.ndarray, numpy.ndarray)
x.shape, y.shape  # ((768, 7), (768,))
y = y.reshape(-1,1)
y.shape  # (768, 1)
# print(x)
# print(y)

(768, 1)

In [7]:
# 학습용과 검증용 데이터 분류
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.25, random_state=0)
xtrain.shape, ytrain.shape, xtest.shape, ytest.shape   # ((576, 7), (576, 1), (192, 7), (192, 1))

((576, 7), (576, 1), (192, 7), (192, 1))

In [8]:
# 로지스틱 회귀
# 샘플이 특정 클래스에 속할 확률을 추정하는데 사용
# 추정확률이 50% 가 넘으면 모델은 그 샘플이 해당 클레스에 속한다고 예측함 (레이블이 1인 양성 클래스)
# 아니면 속하지 않는다고 예측(레이블이 0인 음성 클래스)
# '이진 분류기' 라고도 한다
logRegTest = LogisticRegression()
logRegTest.fit(xtrain,ytrain)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
# 검증용 데이터의 예측값을 preResult 변수에 초기화 시킴
preResult = logRegTest.predict(xtest)
preResult.shape # (192,)
preResult

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [10]:
# ytest 는 ytest 값,   pre는 xtest의 예측값
df2 = pd.DataFrame({'pre':preResult.flatten(), 'ytest':ytest.flatten()})    # 2차원을 1차원으로
df2.head(10)

   pre  ytest
0    1      1
1    0      0
2    0      0
3    1      1
4    0      0
5    0      0
6    1      1
7    1      1
8    0      0
9    0      0

In [30]:
# 여기 값이 0에 가까울 수록 정확도가 높다는 뜻
# 값이 0.4389855730355308 가 나왔기 때문에 나름 정확도가 높다고 볼 수 있다.
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(preResult,ytest))

0.4389855730355308