# 파이썬으로 데이터 주무르기

## 2. 서울시 범죄 현황 분석

### 2-1. 데이터 구하기

[서울시 관서별 5대 범죄 발생 검거 현황 - 공공데이터포털](https://www.data.go.kr/dataset/3075835/fileData.do)

### 2-2. pandas를 이용하여 데이터 정리하기   77p

In [2]:
import numpy as np
import pandas as pd

In [3]:
crime_anal_police = pd.read_csv('../data/02. crime_in_Seoul.csv', thousands=',', encoding='euc-kr')

crime_anal_police.head()

   구분  죄종 발생검거   건수
0  중부  살인   발생    0
1  중부  살인   검거    0
2  중부  강도   발생    6
3  중부  강도   검거    6
4  중부  강간   발생  173