In [8]:
test = 1          # test 라는 변수를 선언해서 int 타입의 1로 초기화 시킴
print(test,type(test)) # 1 <class 'int'>
a, b = 1,2
print(a,b)
test2 = "test string"
print(test2, type(test2)) # test string <class 'str'>

1 <class 'int'>
1 2
test string <class 'str'>

In [ ]:
test2[0]            # 't'
test2[1:2]          # 'e'
test2[:]            # 'test string'
test2 * 2           # 'test stringtest string'

In [ ]:
test3 = ['a','b', 'c']
test3[0] # 'a'
test3[1:4] # ['b', 'c']
test3[1]   # 'b'
test3[1] * 2 # 'bb'

In [ ]:
test4 = [1, "a", 'c']
test4  # [1, 'a', 'c']
test4[0] # 1
test4[0] = 'd'
test4 # ['d', 'a', 'c']
test5 = [1,2]
test4[0] = test5
test4   # [[1, 2], 'a', 'c']

In [ ]:
test6 = (1, "a", 'c')
test6 # (1, 'a', 'c')
test6[0] # 1
# test6[0] = [1,2]   TypeError: 'tuple' object does not support item assignment
test7 = [('a',1), ('b',1)]
test7 # [('a', 1), ('b', 1)]
test8 = (('a',1), ('b',1))
test8[0] # ('a', 1)
test8[0:2]  # (('a', 1), ('b', 1))

In [ ]:
test9 = {'name' : 'tome', 'age' : 20}
test9 # {'name': 'tome', 'age': 20}
test9['name'] # 'tome'
test9['age'] # 20
test9['age'] = 30
test9 # {'name': 'tome', 'age': 30}

test10 = {}
test10['one'] = 20
test10
test10[2] = 30
test10 # {'one': 20, 2: 30}
test10[2] # 30
test10.keys() # dict_keys(['one', 2])
test10.values() # dict_values([20, 30])

del test10

In [ ]:
test11 = "1"
type(test11)  # str
test12 = int(test11)
type(test12) # int

In [ ]:
test12 = [1,2,3,4]
if(1 in test12):
    print("ok")

In [ ]:
a,b,c = 1,2,1
if(a is c):
    print("ok")
else:
    print("no")

In [ ]:
d = 10
if(d == 10) : print("ok")   # ok

In [ ]:
cnt = 0
while(cnt < 10):
    print(cnt)
    cnt = cnt + 1

In [ ]:
cnt1 = 0
while(cnt1 < 10):
    print(cnt1)
    cnt1 = cnt1 + 1
else:
    print("end")

In [ ]:
#check = 1
#while(check) : print("ok")

In [1]:
test13 = ['apple', 'samsung', 'google']
for i in range(len(test13)) :
    print(test13[i])

apple
samsung
google

In [2]:
for i in range(len(test13)) : 
    pass

In [3]:
def add(a,b) :
    return a + b

In [5]:
test14 = add(1,3)
print(test14)

4

In [9]:
def testfunc(d):
    d = [10, 20, 30]
    print(d)
    return

In [11]:
mylist = [1,2,3]
testfunc(mylist)
print(mylist)   
#[10, 20, 30]
#[1, 2, 3]

[10, 20, 30]
[1, 2, 3]

In [12]:
def add(a,b,c):
    print(a,b,c)

In [22]:
add(a = 1, b = 2, c = 3) # 1 2 3
#add(1) # TypeError: add() missing 2 required positional arguments: 'b' and 'c'

def add1(a = 0, b = 0, c = 0) :
    print(a, b, c)
add1(1) # 1 0 0

1 2 3
1 0 0