In [1]:
import pandas as pd
import numpy as np

#### pandas Series
* python의 list나 numpy의 array가 인자로 입력된다.
* Series의 특징은 값과 함께, 우리가 원하는 index를 입력할 수 있다는 것
* 또 다른 특징은 Series의 이름과 index에 이름을 지정해줄 수 있다는 것

참고 : https://nittaku.tistory.com/110

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
s.values   # 값(values)만 따로 array로 확인

# array([ 1.,  3.,  5., nan,  6.,  8.])

array([ 1.,  3.,  5., nan,  6.,  8.])

In [4]:
s.index # index 범위값만 얻을 수 있다.

# RangeIndex(start=0, stop=6, step=1)

RangeIndex(start=0, stop=6, step=1)

In [6]:
s.dtypes # 데이터형을 확인

# dtype('float64')

dtype('float64')

In [8]:
s2 = pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
s2

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

Series는 python 에서 중괄호로 {"key": value, "key": value} 형식으로 만든 딕셔너리와 비슷

In [9]:
dic1 = {'홍길동' : 185, '강감찬' : 180, "이순신" : 175 }

s3 = pd.Series(dic1)

s3

홍길동    185
강감찬    180
이순신    175
dtype: int64