In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("TestData03.csv")
df
# X = {a,a,b,b,b,b,b,b}
# a = 3, b = 5 => total : 8
# 0.954

   x  y  z   c
0  1  1  1   I
1  1  1  0   I
2  0  0  1  II
3  1  0  0  II

In [4]:
df2 = pd.read_csv("TestData04.csv")
df2
# A        B           C           D
# >=5   >= 3.0  >=4.2   >=1.4
# < 5    < 3.0     < 4.2    <1.4

#Value >= 5:12
# A >=5
# A >=5 & Class = positive  --> 5/12
# A < 5 & Class = negative  --> 7/12
# Gini(5,7) = 0.4860

#Value < 5:4
# Gini(3,1) = 0.375

    INDEX    A    B    C    D         E
0       1  4.8  3.4  1.9  0.2  positive
1       2  5.0  3.0  1.6  1.2  positive
2       3  5.0  3.4  1.6  0.2  positive
3       4  5.2  3.5  1.5  0.2  positive
4       5  5.2  3.4  1.4  0.2  positive
5       6  4.7  3.2  1.6  0.2  positive
6       7  4.8  3.1  1.6  0.2  positive
7       8  5.4  3.4  1.5  0.4  positive
8       9  7.0  3.2  4.7  1.4  negative
9      10  6.4  3.2  4.7  1.5  negative
10     11  6.9  3.1  4.9  1.5  negative
11     12  5.5  2.3  4.0  1.3  negative
12     13  6.5  2.8  4.6  1.5  negative
13     14  5.7  2.8  4.5  1.3  negative
14     15  6.3  3.3  4.7  1.6  negative
15     16  4.9  2.4  3.3  1.0  negative